#footer {
  width: 100%;
  margin-top: 60px;
  padding-bottom: 10px;
  background: #f7f7f7;
  box-sizing: border-box;
}

#footer .area_notice {
  width: 100%;
  height: 65px;
  border-top: 1px solid #e6e6e6;
  background: #f0f0f0;
  overflow: hidden;
}

#footer .area_notice > div {
  position: relative;
  width: 940px;
  margin: 0 auto;
  height: inherit;
}

#footer .area_notice > div .notice_slider {
  height: 65px;
  line-height: 65px;
  position: relative;
  margin-right: 620px;
}

#footer .area_notice > div .notice_slider .swiper {
  height: 65px !important;
}

#footer .area_notice > div .notice_slider .swiper .swiper-wrapper .swiper-slide a {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  color: #333;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: inherit;
}

#footer .area_notice > div .notice_slider .swiper .swiper-wrapper .swiper-slide a:hover {
  text-decoration: underline;
}

#footer .area_notice > div .notice_slider .paging {
  position: absolute;
  top: 0;
  left: 361px;
  width: 19px;
  text-align: center;
}

#footer .area_notice > div .notice_slider .paging .btn_auto {
  background: url(../../public/img/btn_notice_stop.png) no-repeat;
  background-size: 19px 19px;
  display: inline-block;
  vertical-align: top;
  width: 19px;
  height: 19px;
  margin-top: 22px;
  border: none;
  cursor: pointer;
}

#footer .area_notice > div .notice_slider .button-prev {
  background: url(../../public/img/btn_notice_prev.png) no-repeat;
  position: absolute;
  cursor: pointer;
  width: 19px;
  height: 19px;
  background-size: 19px 19px;
  margin-top: -10px;
  top: 50%;
  display: inline-block;
  border: none;
  left: 337px;
}

#footer .area_notice > div .notice_slider .button-next {
  background: url(../../public/img/btn_notice_next.png) no-repeat;
  position: absolute;
  cursor: pointer;
  width: 19px;
  height: 19px;
  background-size: 19px 19px;
  margin-top: -10px;
  top: 50%;
  display: inline-block;
  border: none;
  left: 385px;
}

#footer .area_notice > div .notice_slider .more_Link {
  background: url(../../public/img/btn_notice_more.png) no-repeat;
  position: absolute;
  cursor: pointer;
  width: 19px;
  height: 19px;
  background-size: 19px 19px;
  margin-top: -10px;
  top: 50%;
  display: inline-block;
  border: none;
  left: 417px;
}

#footer .area_notice .sel_area {
  position: absolute;
  top: 15px;
  right: 0;
}

#footer .area_notice .sel_area .sel_member {
  float: left;
  width: 190px;
  position: relative;
  background: none;
}

#footer .area_notice .sel_area .sel_member select {
  padding-left: 15px;
  height: 35px;
  width: calc(100% - 45px);
  border-radius: 5px;
  font-size: 13px;
  background: #fff url(../../public/img/ico_select5.png) no-repeat 100% 50%/24px 7px;
  display: block;
  border: 0;
  appearance: none;
}

#footer .area_notice .sel_area .sel_member .link_view {
  display: inline-block;
  background: #777676;
  color: #fff;
  border-radius: 5px;
  height: 35px;
  width: 40px;
  line-height: 35px;
  font-size: 13px;
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
}

#footer .area_notice .sel_area .sel_member + .sel_member {
  width: 265px;
  margin-left: 15px;
}

#footer .box_footer {
  width: 940px;
  margin: 0 auto;
}

#footer .box_footer .footer_snsList {
  display: block;
  clear: both;
  text-align: center;
}

#footer .box_footer .footer_snsList:after {
  content: '';
  display: block;
  clear: both;
}

#footer .box_footer .footer_snsList .tit {
  display: inline-block;
}
