#footer{
    width: 100%; 
    margin-top: 60px;
    padding-bottom: 10px;
    background: #f7f7f7;
    box-sizing: border-box;
    .area_notice{
        >div{
            .notice_slider{
                height: 65px;
            }
        }
    }

}