#footer {
  width: 100%;
  margin-top: 60px;
  padding-bottom: 10px;
  background: #f7f7f7;
  box-sizing: border-box;
}

#footer .area_notice {
  width: 100%;
  height: 65px;
  border-top: 1px solid #e6e6e6;
  background: #f0f0f0;
  overflow: hidden;
}

#footer .area_notice > div {
  position: relative;
  width: 940px;
  margin: 0 auto;
  height: inherit;
}

#footer .area_notice > div .notice_slider {
  height: 65px;
  line-height: 65px;
  position: relative;
  margin-right: 620px;
}

#footer .area_notice > div .notice_slider .swiper {
  height: 65px !important;
}

#footer .area_notice > div .notice_slider .swiper .swiper-wrapper .swiper-slide a {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  color: #333;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: inherit;
}

#footer .area_notice > div .notice_slider .swiper .swiper-wrapper .swiper-slide a:hover {
  text-decoration: underline;
}

#footer .area_notice > div .notice_slider .paging {
  position: absolute;
  top: 0;
  left: 361px;
  width: 19px;
  text-align: center;
}

#footer .area_notice > div .notice_slider .paging .btn_auto {
  background: url(../../public/img/btn_notice_stop.png) no-repeat;
  background-size: 19px 19px;
  display: inline-block;
  vertical-align: top;
  width: 19px;
  height: 19px;
  margin-top: 22px;
  border: none;
  cursor: pointer;
}

#footer .area_notice > div .notice_slider .paging.active .btn_auto {
  background: url(../../public/img/btn_notice_play.png) no-repeat;
  background-size: 19px 19px;
}

#footer .area_notice > div .notice_slider .button-prev {
  background: url(../../public/img/btn_notice_prev.png) no-repeat;
  position: absolute;
  cursor: pointer;
  width: 19px;
  height: 19px;
  background-size: 19px 19px;
  margin-top: -10px;
  top: 50%;
  display: inline-block;
  border: none;
  left: 337px;
}

#footer .area_notice > div .notice_slider .button-next {
  background: url(../../public/img/btn_notice_next.png) no-repeat;
  position: absolute;
  cursor: pointer;
  width: 19px;
  height: 19px;
  background-size: 19px 19px;
  margin-top: -10px;
  top: 50%;
  display: inline-block;
  border: none;
  left: 385px;
}

#footer .area_notice > div .notice_slider .more_Link {
  background: url(../../public/img/btn_notice_more.png) no-repeat;
  position: absolute;
  cursor: pointer;
  width: 19px;
  height: 19px;
  background-size: 19px 19px;
  margin-top: -10px;
  top: 50%;
  display: inline-block;
  border: none;
  left: 417px;
}

#footer .area_notice .sel_area {
  position: absolute;
  top: 15px;
  right: 0;
}

#footer .area_notice .sel_area .sel_member {
  float: left;
  width: 190px;
  position: relative;
  background: none;
}

#footer .area_notice .sel_area .sel_member select {
  padding-left: 15px;
  height: 35px;
  width: calc(100% - 45px);
  border-radius: 5px;
  font-size: 13px;
  background: #fff url(../../public/img/ico_select5.png) no-repeat 100% 50%/24px 7px;
  display: block;
  border: 0;
  appearance: none;
}

#footer .area_notice .sel_area .sel_member .link_view {
  display: inline-block;
  background: #777676;
  color: #fff;
  border-radius: 5px;
  height: 35px;
  width: 40px;
  line-height: 35px;
  font-size: 13px;
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
}

#footer .area_notice .sel_area .sel_member + .sel_member {
  width: 265px;
  margin-left: 15px;
}

#footer .box_footer {
  width: 940px;
  margin: 0 auto;
}

#footer .box_footer .footer_snsList {
  display: block;
  clear: both;
  text-align: center;
}

#footer .box_footer .footer_snsList:after {
  content: '';
  display: block;
  clear: both;
}

#footer .box_footer .footer_snsList .tit {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  background: url(../../public/img/ico_footer_sns.png) no-repeat 0 50%/25px 26px;
  padding-left: 33px;
  margin-top: 14px;
}

#footer .box_footer .footer_snsList ul {
  padding: 20px 0;
}

#footer .box_footer .footer_snsList ul li {
  display: inline-block;
  margin-left: 33px;
}

#footer .box_footer .footer_snsList ul li:first-child {
  margin-left: 0;
}

#footer .box_footer .footer_snsList ul li a .ico {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  vertical-align: middle;
  background-position: 0 0;
  background-repeat: no-repeat;
}

#footer .box_footer .footer_snsList ul li a .sns_name {
  font-style: normal;
  vertical-align: middle;
  font-size: 15px;
  line-height: 16px;
  margin-left: 3px;
  text-align: left;
  color: #666;
  display: inline-block;
}

#footer .box_footer .footer_snsList ul li a .ico_blog {
  background: url(../../public/img/ico_sns1.png);
}

#footer .box_footer .footer_snsList ul li a:hover .ico_blog {
  background: url(../../public/img/ico_sns1_1.png);
}

#footer .box_footer .footer_snsList ul li a .ico_post {
  background: url(../../public/img/ico_sns2.png);
}

#footer .box_footer .footer_snsList ul li a:hover .ico_post {
  background: url(../../public/img/ico_sns2_1.png);
}

#footer .box_footer .footer_snsList ul li a .ico_facebook {
  background: url(../../public/img/ico_sns3.png);
}

#footer .box_footer .footer_snsList ul li a:hover .ico_facebook {
  background: url(../../public/img/ico_sns3_1.png);
}

#footer .box_footer .footer_snsList ul li a .ico_twitter {
  background: url(../../public/img/ico_sns4.png);
}

#footer .box_footer .footer_snsList ul li a:hover .ico_twitter {
  background: url(../../public/img/ico_sns4_1.png);
}

#footer .box_footer .footer_snsList ul li a .ico_kakaostory {
  background: url(../../public/img/ico_sns5.png);
}

#footer .box_footer .footer_snsList ul li a:hover .ico_kakaostory {
  background: url(../../public/img/ico_sns5_1.png);
}

#footer .box_footer .footer_snsList ul li a .ico_instargram {
  background: url(../../public/img/ico_sns7.png);
}

#footer .box_footer .footer_snsList ul li a:hover .ico_instargram {
  background: url(../../public/img/ico_sns7_1.png);
}

#footer .box_footer .footer_snsList ul li a .ico_naver {
  background: url(../../public/img/ico_sns9.png);
}

#footer .box_footer .footer_snsList ul li a:hover .ico_naver {
  background: url(../../public/img/ico_sns9_1.png);
}

#footer .box_footer .footer_data {
  padding: 20px 0;
  border-top: 1px solid #e6e6e6;
}

#footer .box_footer .footer_data .footer_banner {
  display: block;
  float: left;
}

#footer .box_footer .footer_data .footer_banner span {
  float: left;
}

#footer .box_footer .footer_data .footer_banner span + span {
  margin-left: 10px;
}

#footer .box_footer .footer_data .footer_banner:after {
  content: '';
  display: block;
  clear: both;
}

#footer .box_footer .footer_data .btm_menu {
  width: 100%;
  padding-top: 10px;
  overflow: hidden;
}

#footer .box_footer .footer_data .btm_menu li {
  float: left;
  line-height: 30px;
}

#footer .box_footer .footer_data .btm_menu li a {
  font-size: 13px;
  color: #666;
  margin-right: 30px;
  letter-spacing: -.25px;
}

#footer .box_footer .footer_data .btm_menu li .peronal_info {
  color: #2c47dc;
  font-weight: 700;
}

#footer .box_footer .footer_data .ft_address {
  padding-top: 6px;
}

#footer .box_footer .footer_data .ft_address li {
  display: inline-block;
  margin-right: 5px;
  color: #666;
  line-height: 1.8;
  font-size: 13px;
}

#footer .box_footer .footer_data .ft_address li span {
  padding-right: 10px;
}

#footer .box_footer .footer_data:after {
  content: '';
  display: block;
  clear: both;
}

#footer .box_footer .footer_PCLogo {
  width: 100%;
  border-top: 1px solid #e6e6e6;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
}

#footer .box_footer .footer_PCLogo .btn_footLogo {
  width: 89px;
  padding-top: 23px;
}

#footer .box_footer .footer_PCLogo .btn_footLogo img {
  width: inherit;
  height: 14px;
}

#footer .box_footer .footer_PCLogo .logo_List {
  display: flex;
  justify-content: space-between;
  padding-top: 14px;
}

#footer .box_footer .footer_PCLogo .logo_List li {
  margin-left: 20px;
}

#footer .box_footer .footer_PCLogo .logo_List li:nth-child(4) {
  margin-left: 40px;
}

#footer .box_footer .footer_PCLogo .logo_List li a {
  display: block;
}
