a {
  color: #666;
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

#contents {
  width: 980px;
  margin: 0 auto;
  padding: 130px 20px 27px 20px;
}

.mainShowcase.active .btn_stop {
  background: url(../public/img/btn_slide_play02.png) no-repeat !important;
}

.mainShowcase {
  position: relative;
  padding-top: 140px;
  transition: all .5s;
  overflow: hidden;
}

.mainShowcase:after {
  content: '';
  background: #ffffff;
  width: 100%;
  height: 160px;
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
}

.mainShowcase .cont {
  width: 940px;
  position: absolute;
  left: 50%;
  top: 140px;
  margin-left: -470px;
}

.mainShowcase .cont .textSlide {
  width: 370px;
  margin: 0;
}

.mainShowcase .cont .textSlide .swiper-slide {
  width: 100%;
}

.mainShowcase .cont .textSlide .swiper-slide .tit_wrap {
  margin-top: 90px;
}

.mainShowcase .cont .textSlide .swiper-slide .tit_wrap em {
  font-style: normal;
  display: inline-block;
  padding: 0 15px;
  height: 30px;
  color: #fff;
  background: #000;
  border-radius: 15px 15px 15px 0;
  font-size: 16px;
  font-weight: 200;
  line-height: 28px;
}

.mainShowcase .cont .textSlide .swiper-slide .tit_wrap strong {
  color: #3d3d3d;
  display: block;
  margin: 50px 0 23px;
  font-weight: 600;
  word-break: keep-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  letter-spacing: -3px;
  line-height: 50px;
  font-size: 44px;
  overflow: hidden;
  white-space: pre-wrap;
}

.mainShowcase .cont .textSlide .swiper-slide .tit_wrap a {
  display: inline-block;
  font-size: 15px;
  font-weight: 200;
  letter-spacing: -.5px;
  color: #000;
  border-bottom: 1px solid #908f8f;
}

.mainShowcase .img_wrap {
  position: relative;
  width: 54%;
  padding-left: 80px;
  float: right;
  margin-top: -20px;
}

.mainShowcase .img_wrap .mainSwiper {
  padding: 20px 0 80px 20px;
  position: static;
}

.mainShowcase .img_wrap .mainSwiper:after {
  content: '';
  position: absolute;
  display: inline-block;
  background: url(../public/img/main_showcase_logo.png) no-repeat;
  animation: rotate_logo 20s linear infinite;
  transform-origin: 50% 50%;
  width: 123px;
  height: 126px;
  left: 38px;
  top: -10px;
  z-index: 10;
}

.mainShowcase .img_wrap .mainSwiper .swiper-slide {
  width: auto;
}

.mainShowcase .img_wrap .mainSwiper .swiper-slide > img {
  border-radius: 5px;
}

.mainShowcase .page_box {
  position: absolute;
  z-index: 5;
  width: 940px;
  left: 50%;
  bottom: 80px;
  margin-left: -470px;
}

.mainShowcase .page_box .page {
  position: relative;
  width: 370px;
  height: 80px;
  display: flex;
  align-items: center;
}

.mainShowcase .page_box .page .swiper_progress_bar {
  position: relative;
  width: 150px;
  display: inline-block;
  height: 2px;
}

.mainShowcase .page_box .page .swiper_progress_bar .slider_bar {
  background: #b2b2b2;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: inherit;
}

.mainShowcase .page_box .page .swiper_progress_bar .slider_bar .fill {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  height: 100%;
  width: 0;
  /* Initial width is 0 */
  transition: width 1s linear;
  /* Smooth transition for width change */
}

.mainShowcase .page_box .page .swiper-pagination {
  color: #000;
  position: static;
  width: auto;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  margin-left: 10px;
}

.mainShowcase .page_box .page .swiper-pagination span:first-child {
  font-weight: 800;
}

.mainShowcase .page_box .page .swiper_btn {
  position: absolute;
  right: 0;
  top: 33px;
  width: 105px;
  text-align: center;
}

.mainShowcase .page_box .page .swiper_btn .swiperNextBtn {
  background: url(../public/img/btn_showcase_arw.png) no-repeat;
  width: 17px;
  height: 16px;
  left: 10px;
  position: absolute;
  z-index: 10;
}

.mainShowcase .page_box .page .swiper_btn .swiperPrevBtn {
  background: url(../public/img/btn_showcase_arw.png) no-repeat;
  width: 17px;
  height: 16px;
  background-position: 0 -16px;
  right: 10px;
  position: absolute;
  z-index: 10;
}

.mainShowcase .page_box .page .swiper_btn .Btn-auto .btn_stop {
  background: url(../public/img/btn_slidem_stop02.png) no-repeat;
  width: 15px;
  height: 17px;
  display: inline-block;
}

#contents {
  width: 100%;
  padding: 0 !important;
}

#contents .pc_main_contents .section02 {
  position: relative;
  word-break: keep-all;
  margin: 0 0 80px;
}

#contents .pc_main_contents .section02 .bg {
  background: url(../public/img/section02_background.png) no-repeat 50% center #f2fce0;
  position: relative;
  height: 415px;
}

#contents .pc_main_contents .section02 .cont {
  position: relative;
  padding-top: 60px;
  width: 940px;
  margin: -415px auto 0;
}

#contents .pc_main_contents .section02 .cont .tag {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  background: #222;
  color: #ffffff;
  border-radius: 0 0 10px 10px;
  height: 34px;
  line-height: 34px;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 300;
}

#contents .pc_main_contents .section02 .cont .tag .heart {
  font-size: 14px;
  padding-left: 2px;
  padding-top: 4px;
}

#contents .pc_main_contents .section02 .cont .tit_wrap {
  height: 132px;
}

#contents .pc_main_contents .section02 .cont .tit_wrap .mtit {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -3px;
}

#contents .pc_main_contents .section02 .cont .tit_wrap .stit {
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -.5px;
  max-height: 40px;
  max-width: 420px;
  padding-top: 13px;
  word-break: keep-all;
  text-overflow: ellipsis;
  line-clamp: 2;
  display: block;
}

#contents .pc_main_contents .section02 .cont .tit_wrap .day {
  display: block;
  padding-top: 12px;
  font-size: 16px;
  font-weight: 200;
  line-height: 18px;
}

#contents .pc_main_contents .section02 .cont .img {
  position: absolute;
  top: 0;
  right: 0;
}

#contents .pc_main_contents .section02 .cont .list {
  background-color: #fff;
  border-radius: 10px;
  margin-top: 28px;
}

#contents .pc_main_contents .section02 .cont .list .menu {
  padding: 40px 40px 20px;
  position: relative;
}

#contents .pc_main_contents .section02 .cont .list .menu p {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background: #333;
  color: #fff;
  border-radius: 20px;
  display: inline-block;
  padding: 0 20px;
  height: 34px;
  line-height: 2;
  font-size: 16px;
  letter-spacing: -.5px;
}

#contents .pc_main_contents .section02 .cont .list .banner {
  padding: 0 40px;
  position: relative;
}

#contents .pc_main_contents .section02 .cont .list .banner .eventBox .swiper-slide img {
  border-radius: 5px;
}

#contents .pc_main_contents .section02 .cont .list .banner .swiperprev {
  position: absolute;
  background: url(../public/img/btn_slide02.png) no-repeat;
  width: 30px;
  height: 30px;
  top: 136px;
  margin: 0;
  left: -30px;
  z-index: 10;
}

#contents .pc_main_contents .section02 .cont .list .banner .swipernext {
  background: url(../public/img/btn_slide03.png) no-repeat;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 136px;
  right: -30px;
  margin: 0;
  z-index: 10;
}

#contents .pc_main_contents .section02 .cont .list .banner .swiper-button-disabled {
  background-position: 0 -30px;
}

#contents .pc_main_contents .section03 {
  position: relative;
  height: 593px;
}

#contents .pc_main_contents .section03 h2 {
  width: 940px;
  margin: 0 auto;
}

#contents .pc_main_contents .section03 h2 a {
  text-indent: -999999px;
  display: block;
  height: 66px;
  background: url(../public/img/tit_curation_area.png) no-repeat;
}

#contents .pc_main_contents .section03 .cont_wrap {
  width: 940px;
  margin: 0 auto;
}

#contents .pc_main_contents .section03 .cont_wrap .tab {
  position: relative;
  display: flex;
  text-align: center;
  background: #567ff2;
  color: #fff;
  border-radius: 5px;
  box-shadow: 8px 7px 29px 0px rgba(69, 111, 228, 0.25);
}

#contents .pc_main_contents .section03 .cont_wrap .tab li {
  width: 33.33%;
}

#contents .pc_main_contents .section03 .cont_wrap .tab li.on a {
  background-position: 50% 0 !important;
}

#contents .pc_main_contents .section03 .cont_wrap .tab li.on a:after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 8px;
  background: url(../public/img/menu_curation_arw.png) no-repeat;
  display: inline-block;
}

#contents .pc_main_contents .section03 .cont_wrap .tab li a {
  display: block;
  height: 50px;
  position: relative;
}

#contents .pc_main_contents .section03 .cont_wrap .tab li a:before {
  content: '';
  width: 1px;
  height: 16px;
  background: #a3b9f5;
  position: absolute;
  display: inline-block;
  left: 0;
  top: 17px;
}

#contents .pc_main_contents .section03 .cont_wrap .tab .menu01 a {
  background: url(../public/img/menu_curation_area3.png) 50% -50px no-repeat;
}

#contents .pc_main_contents .section03 .cont_wrap .tab .menu01 a:before {
  content: none;
}

#contents .pc_main_contents .section03 .cont_wrap .tab .menu02 a {
  background: url(../public/img/menu_curation_area1.png) 50% -50px no-repeat;
}

#contents .pc_main_contents .section03 .cont_wrap .tab .menu03 a {
  background: url(../public/img/menu_curation_area2.png) 50% -50px no-repeat;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont {
  display: none;
  padding-top: 25px;
  /* color: #333; */
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont.active {
  display: block;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .blind {
  width: 0;
  height: 0;
  overflow: hidden;
  text-indent: -9999px;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont p {
  text-align: center;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -.5px;
  padding-bottom: 25px;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont p:before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: -4px;
  background: url(../public/img/icon_curation_txt.png) no-repeat;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .ai_list {
  overflow: hidden;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .ai_list ul {
  display: flex;
  margin: 0 0 30px -20px;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .ai_list ul li {
  width: 25%;
  height: 330px;
  transition: .5s;
  overflow: hidden;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .ai_list ul li.on {
  width: 615px;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .ai_list ul li .contbox {
  overflow: hidden;
  height: 100%;
  position: relative;
  margin-left: 20px;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .ai_list ul li .contbox a {
  position: relative;
  display: block;
  height: 100%;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .ai_list ul li .contbox a strong {
  color: #fff;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 50px;
  font-weight: 400;
  font-size: 18px;
  display: block;
  line-height: 21px;
  letter-spacing: -.6px;
  z-index: 5;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .ai_list ul li .contbox a span {
  color: #fff;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 28px;
  font-weight: 300;
  font-size: 14px;
  display: block;
  line-height: 16px;
  letter-spacing: -.6px;
  z-index: 5;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .ai_list ul li .contbox a .img_wrap {
  height: 100%;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all .7s;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .ai_list ul li .contbox .good {
  position: absolute;
  background: #fff url(../public/img/icon_good.png) no-repeat;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  top: 14px;
  right: 16px;
  border: none;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .ai_list ul li .contbox .good.on {
  background-position: 0 -31px;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .ai_list ul li .contbox:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40%;
  width: 100%;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6));
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .area_tab {
  height: 59px;
  padding-top: 11px;
  border-bottom: 1px solid #e2e3e7;
  border-top: 1px solid #e2e3e7;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .area_tab .tabList {
  display: flex;
  height: 46px;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .area_tab .tabList > li {
  flex-grow: 1;
  text-align: center;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .area_tab .tabList > li button {
  height: 35px;
  width: 50px;
  font-size: 16px;
  border-radius: 50px;
  border: none;
  background: #fff;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .area_tab .tabList > li button.all.on {
  background: #333;
  color: #fff;
  border: 1px solid #333;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .area_tab .tabList > li button:hover, #contents .pc_main_contents .section03 .cont_wrap .tab_cont .area_tab .tabList > li button.on {
  color: #3f6cea;
  border: 1px solid #3f6cea;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont ul {
  display: flex;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont ul li a {
  position: relative;
  display: block;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .hot {
  margin: 20px 0 0 -20px;
  height: 281px;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .hot li {
  width: 220px;
  flex-grow: 1;
  position: relative;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .hot li a {
  margin-left: 20px;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .hot li a .img_scale {
  overflow: hidden;
  border-radius: 5px;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .hot li a .img_scale .img_wrap {
  border-radius: 5px;
  height: 220px;
  overflow: hidden;
  transition: all .7s;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .hot li a strong {
  display: block;
  font-size: 16px;
  letter-spacing: -.5px;
  line-height: 19px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 12px;
  font-weight: 400;
  text-align: center;
  color: #333;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .hot li a:hover .img_wrap {
  transform: scale(1.2);
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .hot li .good {
  position: absolute;
  background: #fff url(../public/img/icon_good.png) no-repeat;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  top: 14px;
  right: 16px;
  border: none;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .hot li .good.on {
  background-position: 0 -31px;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .abcList {
  margin-left: -20px;
  height: 360px;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .abcList li {
  margin-left: 20px;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .abcList li a {
  width: 300px;
  height: 330px;
  box-shadow: 4px 7px 15px 0 rgba(51, 51, 51, 0.08);
  display: block;
  position: relative;
  overflow: hidden;
  background: #fff;
  border-radius: 5px;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .abcList li a .best {
  position: absolute;
  background: url(../public/img/icon_curation_best.png) no-repeat;
  width: 42px;
  height: 42px;
  top: 15px;
  left: 15px;
  display: inline-block;
  z-index: 10;
  text-indent: -9999999px;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .abcList li a .img_scale {
  overflow: hidden;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .abcList li a .img_scale .img_wrap {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transition: all 0.7s;
  height: 214px;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .abcList li a .info {
  padding: 31px 30px 0;
  font-size: 14px;
  font-weight: 300;
  position: relative;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .abcList li a .info .profile {
  position: absolute;
  right: 20px;
  top: 34px;
  display: inline-block;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  overflow: hidden;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .abcList li a .info .profile img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .abcList li a .info em {
  font-style: normal;
  height: 30px;
  width: 70px;
  line-height: 30px;
  left: 30px;
  top: -14px;
  position: absolute;
  background: #567ff2;
  color: #fff;
  font-size: 15px;
  letter-spacing: -0.5px;
  text-align: center;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .abcList li a .info strong {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding-right: 25px;
  display: block;
  margin-bottom: 6px;
  letter-spacing: -.6px;
  color: #333;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .abcList li a .info .area {
  display: block;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .abcList li a .info span {
  display: inline-block;
  color: #666;
  height: 18px;
  line-height: 16px;
  font-size: 14px;
  font-weight: 300;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .abcList li a .info span:last-child:before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 12px;
  margin: 0 8px;
  vertical-align: -1px;
  background: #bfbfbf;
}

#contents .pc_main_contents .section03 .cont_wrap .tab_cont .abcList li a:hover .img_wrap {
  transform: scale(1.2);
}

#contents .pc_main_contents .section03 .more_view {
  text-align: center;
  font-size: 16px;
  position: relative;
}

#contents .pc_main_contents .section03 .more_view button {
  width: 260px;
  height: 45px;
  line-height: 19px;
  border: 1px solid #333;
  border-radius: 50px;
  position: relative;
  background: #fff;
  font-size: 16px;
}

#contents .pc_main_contents .section03 .more_view button strong {
  font-weight: 700;
}

#contents .pc_main_contents .section03 .more_view button:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 17px;
  margin-right: 4px;
  vertical-align: -3px;
  background: url(../public/img/btn_curation_refresh.png) no-repeat;
}

#contents .pc_main_contents .section03 .more_view a {
  line-height: 19px;
  position: absolute;
  right: 0;
  top: 10px;
  color: #333;
}

#contents .pc_main_contents .section03 .more_view a:after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 8px;
  background: url(../public/img/btn_curation_more.png) no-repeat;
}

#contents .pc_main_contents .section03 #tabMenu03 .more_view button:before {
  content: none;
}

#contents .pc_main_contents .section03 #tabMenu03 .more_view button:after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 16px;
  margin-left: 8px;
  vertical-align: -2px;
  background: url(../public/img/btn_curation_01.png) no-repeat;
}

#contents .pc_main_contents .section04 {
  position: relative;
  margin-top: 80px;
}

#contents .pc_main_contents .section04 .mc_inner {
  width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}

#contents .pc_main_contents .section04 .mc_inner .top_cont {
  width: 100%;
}

#contents .pc_main_contents .section04 .mc_inner .top_cont:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#contents .pc_main_contents .section04 .mc_inner .top_cont .top_left {
  float: left;
  width: 485px;
  height: 248px;
  margin-bottom: 30px;
}

#contents .pc_main_contents .section04 .mc_inner .top_cont .top_left a {
  overflow: hidden;
  display: block;
}

#contents .pc_main_contents .section04 .mc_inner .top_cont .top_left a img {
  border-radius: 10px;
  vertical-align: middle;
}

#contents .pc_main_contents .section04 .mc_inner .top_cont .top_right {
  width: 455px;
  float: left;
}

#contents .pc_main_contents .section04 .mc_inner .top_cont .top_right .tit_atc {
  font-weight: 800;
  font-size: 22px;
  letter-spacing: -1px;
  margin-bottom: 8px;
  padding: 0 15px 0 0;
  display: block;
  position: relative;
  margin-top: -5px;
  height: 38px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
}

#contents .pc_main_contents .section04 .mc_inner .top_cont .top_right .tit_atc .btn_more {
  text-indent: -99999px;
  background: url(../public/img/btn_curation_more.png) no-repeat 0 0;
  position: absolute;
  display: inline-block;
  top: 8px;
  right: 0;
  width: 12px;
  height: 12px;
}

#contents .pc_main_contents .section04 .mc_inner .top_cont .list_board li {
  border-bottom: 1px solid #e6e6e6;
}

#contents .pc_main_contents .section04 .mc_inner .top_cont .list_board li a {
  color: #333;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 49px;
  font-size: 16px;
  font-weight: 600;
}

#contents .pc_main_contents .section04 .mc_inner .top_cont .list_board li a em {
  font-style: normal;
  padding-right: 5px;
}

#contents .pc_main_contents .section04 .mc_inner .top_cont .list_board li a:hover {
  text-decoration: underline;
}

#contents .pc_main_contents .section05 {
  margin-top: 30px;
  height: 160px;
}

#contents .pc_main_contents .section05 .type1swiper .swiper-slide .type2 {
  height: 160px;
  display: flex;
}

#contents .pc_main_contents .section05 .type1swiper .swiper-slide .type2 .left {
  width: 50%;
  height: 100%;
}

#contents .pc_main_contents .section05 .type1swiper .swiper-slide .type2 .left a {
  float: right;
  width: 470px;
  display: flex;
  flex-wrap: wrap;
  height: 160px;
  position: relative;
  padding-left: 30px;
  box-sizing: border-box;
  align-content: center;
}

#contents .pc_main_contents .section05 .type1swiper .swiper-slide .type2 .left a span {
  padding-right: 240px;
  font-size: 16px;
  line-height: 19px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 7px;
  white-space: nowrap;
}

#contents .pc_main_contents .section05 .type1swiper .swiper-slide .type2 .left a strong {
  padding-right: 240px;
  font-size: 22px;
  font-weight: 800;
  letter-spacing: -1px;
  line-height: 25px;
  max-height: 50px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  word-break: keep-all;
  overflow: hidden;
}

#contents .pc_main_contents .section05 .type1swiper .swiper-slide .type2 .left a img {
  position: absolute;
  right: 30px;
  top: 0;
}

#contents .pc_main_contents .section05 .type1swiper .swiper-slide .type2 .right {
  width: 50%;
  height: 100%;
}

#contents .pc_main_contents .section05 .type1swiper .swiper-slide .type2 .right a {
  float: left;
  width: 470px;
  display: flex;
  flex-wrap: wrap;
  height: 160px;
  position: relative;
  padding-left: 30px;
  box-sizing: border-box;
  align-content: center;
}

#contents .pc_main_contents .section05 .type1swiper .swiper-slide .type2 .right a span {
  padding-right: 240px;
  font-size: 16px;
  line-height: 19px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 7px;
  white-space: nowrap;
}

#contents .pc_main_contents .section05 .type1swiper .swiper-slide .type2 .right a strong {
  padding-right: 240px;
  font-size: 22px;
  font-weight: 800;
  letter-spacing: -1px;
  line-height: 25px;
  max-height: 50px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  word-break: keep-all;
  overflow: hidden;
}

#contents .pc_main_contents .section05 .type1swiper .swiper-slide .type2 .right a img {
  position: absolute;
  right: 30px;
  top: 0;
}

#contents .pc_main_contents .section05 .type1swiper .paging {
  text-align: center;
  margin-top: 15px;
}

#contents .pc_main_contents .section05 .type1swiper .paging .btn_autoArea {
  display: inline-block;
  margin-right: 5px;
  height: 10px;
}

#contents .pc_main_contents .section05 .type1swiper .paging .btn_autoArea .btn_autoStop {
  background: url(../public/img/btn_slide_stop02.png) no-repeat;
  display: inline-block;
  width: 8px;
  height: 10px;
  overflow: hidden;
  vertical-align: top;
}

#contents .pc_main_contents .section05 .type1swiper .paging .swiper-pagination {
  display: inline-block;
  height: 10px;
  position: static;
  width: 40px;
}

#contents .pc_main_contents .section05 .type1swiper .paging .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #333;
}

#contents .pc_main_contents .section05 .type1swiper .paging .swiper-pagination .swiper-pagination-bullet {
  border: 1px solid #333;
  background: #fff;
  width: 10px;
  height: 10px;
  vertical-align: top;
  margin: 0 5px;
  box-sizing: border-box;
  opacity: 1;
}

#contents .pc_main_contents .section05.active .type1swiper .paging .btn_autoArea .btn_autoStop {
  background: url(../public/img/btn_slide_play03.png) no-repeat;
}

#contents .pc_main_contents .section06 {
  width: 940px;
  margin: 0 auto;
  padding: 0 20px 27px;
}

#contents .pc_main_contents .section06 .btm_cont {
  width: 100%;
  margin-top: 80px;
}

#contents .pc_main_contents .section06 .btm_cont:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#contents .pc_main_contents .section06 .btm_cont .content {
  background: #f4f6f8;
  width: 100vw;
  padding: 37px 0 50px;
  margin-bottom: 40px;
  margin-left: calc(-50vw + 50%);
}

#contents .pc_main_contents .section06 .btm_cont .content .inr {
  width: 940px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

#contents .pc_main_contents .section06 .btm_cont .content .inr + .inr {
  margin: 50px auto 0;
}

#contents .pc_main_contents .section06 .btm_cont .content .inr .tit_atc {
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: -.6px;
  color: #000;
}

#contents .pc_main_contents .section06 .btm_cont .content .inr .swiper {
  position: static;
}

#contents .pc_main_contents .section06 .btm_cont .content .inr .swiper .swiper-wrapper .swiper-slide {
  width: 25%;
  margin-top: 30px;
  transition: all .5s;
}

#contents .pc_main_contents .section06 .btm_cont .content .inr .swiper .swiper-wrapper .swiper-slide a {
  display: block;
}

#contents .pc_main_contents .section06 .btm_cont .content .inr .swiper .swiper-wrapper .swiper-slide a .img img {
  border-radius: 5px;
}

#contents .pc_main_contents .section06 .btm_cont .content .inr .swiper .swiper-wrapper .swiper-slide a strong {
  font-size: 16px;
  margin-top: 12px;
  line-height: 19px;
  height: 38px;
  letter-spacing: -.5px;
  color: #000;
  font-weight: 400;
  text-align: center;
  display: block;
}

#contents .pc_main_contents .section06 .btm_cont .content .inr .swiper .swiper-wrapper .swiper-slide:hover {
  margin-top: 10px;
}

#contents .pc_main_contents .section06 .btm_cont .content .inr .swiper .swiper_btn .Btnnext {
  position: absolute;
  width: 3    0px;
  height: 30px;
  top: 186px;
  right: -50px;
  z-index: 10;
  background: url(../public/img/btn_slide03.png) no-repeat;
}

#contents .pc_main_contents .section06 .btm_cont .content .inr .swiper .swiper_btn .Btnnext:after {
  content: none;
}

#contents .pc_main_contents .section06 .btm_cont .content .inr .swiper .swiper_btn .Btnprev {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 186px;
  left: -50px;
  z-index: 10;
  background: url(../public/img/btn_slide02.png) no-repeat;
}

#contents .pc_main_contents .section06 .btm_cont .content .inr .swiper .swiper_btn .Btnprev:after {
  content: none;
}

#contents .pc_main_contents .section06 .btm_cont .content .inr .swiper .swiper_btn .swiper-button-disabled {
  opacity: 0;
  background-position: 0 -30px;
}

#contents .pc_main_contents .section06 .btm_cont .content .inr .swiper .pagination_scrollbar {
  height: 2px;
  width: 856px;
  margin-top: 30px;
  background: #c3c5c6;
  bottom: 50px;
}

#contents .pc_main_contents .section06 .btm_cont .content .inr .swiper .pagination_scrollbar .swiper-scrollbar-drag {
  background: #000;
}

#contents .pc_main_contents .section06 .btm_cont .content .inr .swiper .pagination_fraction {
  position: absolute;
  right: 0;
  font-size: 16px;
  font-weight: 200;
  text-align: right;
  color: #000;
  bottom: -8px;
  width: 52px;
  left: auto;
}

#contents .pc_main_contents .section06 .btm_cont .content .inr .swiper .pagination_fraction span {
  display: inline;
  margin: 0 3px;
}

#contents .pc_main_contents .section06 .btm_cont .content .inr .swiper .pagination_fraction span:nth-child(1) {
  font-weight: 800;
}

@keyframes rotate_logo {
  100% {
    transform: rotate(360deg);
  }
}

.main_scroll {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  top: auto;
  z-index: 101;
}

.main_scroll #top {
  width: 940px;
  margin: 0 auto;
  position: relative;
}

.main_scroll #top a {
  position: absolute;
  border-radius: 50%;
  border: 1px solid #e5e5e5;
  bottom: 25px;
  right: 0;
  top: -68px;
  z-index: 100;
  height: 40px;
  width: 40px;
  box-shadow: 0px 0px 4px 0px rgba(51, 51, 51, 0.32);
  background: #fff url("../public/img/ico_arrow_top.png") no-repeat 50% 50%/16px 18px;
  cursor: pointer;
}
