a {
  color: #666;
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

#contents {
  width: 980px;
  margin: 0 auto;
  padding: 130px 20px 27px 20px;
}

.mainShowcase.active .btn_stop {
  background: url(../public/img/btn_slide_play02.png) no-repeat !important;
}

.mainShowcase {
  position: relative;
  padding-top: 140px;
  transition: all .5s;
  overflow: hidden;
}

.mainShowcase:after {
  content: '';
  background: #dddddd;
  width: 100%;
  height: 160px;
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.mainShowcase .cont {
  width: 940px;
  position: absolute;
  left: 50%;
  top: 140px;
  margin-left: -470px;
}

.mainShowcase .cont .textSlide {
  width: 370px;
  margin: 0;
}

.mainShowcase .cont .textSlide .swiper-slide {
  width: 100%;
}

.mainShowcase .cont .textSlide .swiper-slide .tit_wrap {
  margin-top: 90px;
}

.mainShowcase .cont .textSlide .swiper-slide .tit_wrap em {
  font-style: normal;
  display: inline-block;
  padding: 0 15px;
  height: 30px;
  color: #fff;
  background: #000;
  border-radius: 15px 15px 15px 0;
  font-size: 16px;
  font-weight: 200;
  line-height: 28px;
}

.mainShowcase .cont .textSlide .swiper-slide .tit_wrap strong {
  color: #3d3d3d;
  display: block;
  margin: 50px 0 23px;
  font-weight: 600;
  word-break: keep-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  letter-spacing: -3px;
  line-height: 50px;
  font-size: 44px;
  overflow: hidden;
  white-space: pre-wrap;
}

.mainShowcase .cont .textSlide .swiper-slide .tit_wrap a {
  display: inline-block;
  font-size: 15px;
  font-weight: 200;
  letter-spacing: -.5px;
  color: #000;
  border-bottom: 1px solid #908f8f;
}

.mainShowcase .img_wrap {
  position: relative;
  width: 54%;
  padding-left: 80px;
  float: right;
  margin-top: -20px;
}

.mainShowcase .img_wrap .mainSwiper {
  padding: 20px 0 80px 20px;
  position: static;
}

.mainShowcase .img_wrap .mainSwiper:after {
  content: '';
  position: absolute;
  display: inline-block;
  background: url(../public/img/main_showcase_logo.png) no-repeat;
  animation: rotate_logo 20s linear infinite;
  transform-origin: 50% 50%;
  width: 123px;
  height: 126px;
  left: 38px;
  top: -10px;
  z-index: 10;
}

.mainShowcase .img_wrap .mainSwiper .swiper-slide {
  width: auto;
}

.mainShowcase .img_wrap .mainSwiper .swiper-slide > img {
  border-radius: 5px;
}

.mainShowcase .page_box {
  position: absolute;
  z-index: 5;
  width: 940px;
  left: 50%;
  bottom: 80px;
  margin-left: -470px;
}

.mainShowcase .page_box .page {
  position: relative;
  width: 370px;
  height: 80px;
  display: flex;
  align-items: center;
}

.mainShowcase .page_box .page .swiper_progress_bar {
  position: relative;
  width: 150px;
  display: inline-block;
  height: 2px;
}

.mainShowcase .page_box .page .swiper-pagination {
  position: static;
  width: auto;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  margin-left: 10px;
}

.mainShowcase .page_box .page .swiper_btn {
  position: absolute;
  right: 0;
  top: 33px;
  width: 105px;
  text-align: center;
}

.mainShowcase .page_box .page .swiper_btn .swiperNextBtn {
  background: url(../public/img/btn_showcase_arw.png) no-repeat;
  width: 17px;
  height: 16px;
  left: 10px;
  position: absolute;
  z-index: 10;
}

.mainShowcase .page_box .page .swiper_btn .swiperPrevBtn {
  background: url(../public/img/btn_showcase_arw.png) no-repeat;
  width: 17px;
  height: 16px;
  background-position: 0 -16px;
  right: 10px;
  position: absolute;
  z-index: 10;
}

.mainShowcase .page_box .page .swiper_btn .Btn-auto .btn_stop {
  background: url(../public/img/btn_slidem_stop02.png) no-repeat;
  width: 15px;
  height: 17px;
  display: inline-block;
}

#contents {
  width: 100%;
  padding: 0 !important;
}

#contents .pc_main_contents .section02 {
  position: relative;
  word-break: keep-all;
  margin: 0 0 80px;
}

#contents .pc_main_contents .section02 .bg {
  background: url(../public/img/section02_background.png) no-repeat 50% center #f2fce0;
  position: relative;
  height: 415px;
}

#contents .pc_main_contents .section02 .cont {
  position: relative;
  padding-top: 60px;
  width: 940px;
  margin: -415px auto 0;
}

@keyframes rotate_logo {
  100% {
    transform: rotate(360deg);
  }
}
