@font-face {
  font-family: "NotoSansKR";
  src: url("./font/NotoSansKR-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 13px/1.4 NotoSansKR, NotoSansJP, "돋움",Dotum,AppleGothic,Sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
